.root {
	position: relative;
	border: 0;
}

.editorContainer {
	width: 960px;
	padding: 10px;
	border-radius: 5px;
	margin: 20px auto;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px #aaa;
}

img {
  outline: 1px solid #222;
  cursor: pointer;
}